<!doctype html>
<title>Fried Chicken Index</title>
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"> -->

<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <div class="wrapper">
        {% block body %}{% endblock %}
    </div>
</body>

</html>